<% provide(:title, 'About Us')%>
<h1>About Us</h1>
<p>
	The <a href="http://railstutorial.org/">Ruby on Rails </a> is  aproject tp make a book and screencasts to teach web development with ruby on rails. This is a sample application for the tutorial.
</p>

