<% provide(:title, 'Contact')%>

<h1>Contact</h1>
<p>
	Contact to ask about the Ruby on Rails Tutorial at  
	<a href="http://ruby.railstutorial.org/contact">Rails tutorial contact.</a>
	To get help on the sample app, see the <a href="http://railstutorial.org/book"> Rails tutorial book.</a>
</p>

