<h1>Help</h1>
<p>
	Get help on the Ruby onRails Tutorial at 
	<a href="http://railstutorial.org/help">Rails tutorial help page.</a>
	To get help on the sample app, see the <a href="http://railstutorial.org/book"> Rails tutorial book.</a>
</p>
